{
  "sources": [
    {
      "name": "LLMControlled",
      "comment": "use to annotate user input"
    },
    {
      "name": "FromUrlLLMControlled",
      "comment": "包含/chat或api的接口端点"
    }
  ],

  "sinks": [
    {
      "comment": "use to annotate where inputs can directly lead to code execution",
      "name": "RemoteCodeExecution"
    },
    {
      "comment": "use to annotate where inputs flow into import functions",
      "name": "ExecImportSink"
    },
    {
      "comment": "use to annotate where inputs flow into unsafe deserialization functions",
      "name": "ExecDeserializationSink"
    },
    {
      "comment": "use to annotate where file content flow into unsafe deserialization functions",
      "name": "FileContentDeserializationSink"
    },
    {
      "comment": "use to annotate where inputs flow into the command line arguments",
      "name": "ExecArgSink"
    },
    {
      "comment": "use to annotate where inputs flow into the environment variables",
      "name": "ExecEnvSink"
    },
    {
      "comment": "use to annotate file systems APIs that do not allow direct read/write (e.g removing a file or renaming a file)",
      "name": "FileSystem_Other"
    },
    {
      "comment": "used to annotate locations where data is included in emails sent",
      "name": "EmailSend"
    },
    {
      "comment": "use to annotate places of SQL injection risk",
      "name": "SQL"
    },
    {
      "comment": "use to annotate where data can cause XSS",
      "name": "XSS"
    },
    {
      "comment": "use to annotate where data flows into file system APIs that may allow read/write to an arbitrary file",
      "name": "FileSystem_ReadWrite"
    },
    {
      "comment": "used to annotate where strings get formatted",
      "name": "FormatString"
    },
    {
      "comment": "use to annotate locations where data is returned to users",
      "name": "ReturnedToUser"
    },
    {
      "comment": "use to annotate locations where header values are set on responses",
      "name": "ResponseHeaderValue"
    },
    {
      "comment": "use to annotate locations where header names are set on responses",
      "name": "ResponseHeaderName"
    },
    {
      "comment": "use to annotate where data is logged",
      "name": "Logging"
    },
    {
      "comment": "SSRFSink",
      "name": "SSRFSink"
    }
  ],
  "implicit_sources": {
    "literal_strings": [
      {
        "regexp": "^https:\\/\\/[^\\/]*(\\/chat)", 
        "kind": "FromUrlLLMControlled",
        "description": "必须含有https://同时包含/chat的URL"
      }
    ]
  },
  "features": [],

  "rules": [
    {
      "name": "Possible RemoteCodeExecution:",
      "code": 5001,
      "sources": [ "LLMControlled" ],
      "sinks": [ "RemoteCodeExecution" ],
      "message_format": "User specified data may reach a code execution sink"
    },
    {
      "name": "Possible ExecImportSink:",
      "code": 5002,
      "sources": [ "LLMControlled" ],
      "sinks": [ "ExecImportSink" ],
      "message_format": "User specified data may reach a code execution sink"
    },
    {
      "name": "Possible ExecDeserializationSink:",
      "code": 5003,
      "sources": [ "LLMControlled" ],
      "sinks": [ "ExecDeserializationSink" ],
      "message_format": "User specified data may reach a code execution sink"
    },
    {
      "name": "Possible FileContentDeserializationSink:",
      "code": 5004,
      "sources": [ "LLMControlled" ],
      "sinks": [ "FileContentDeserializationSink" ],
      "message_format": "User specified data may reach a code execution sink"
    },
    {
      "name": "Possible ExecArgSink:",
      "code": 5005,
      "sources": [ "LLMControlled" ],
      "sinks": [ "ExecArgSink" ],
      "message_format": "User specified data may reach a code execution sink"
    },
    {
      "name": "Possible ExecEnvSink:",
      "code": 5006,
      "sources": [ "LLMControlled" ],
      "sinks": [ "ExecEnvSink" ],
      "message_format": "User specified data may reach a code execution sink"
    },
    {
      "code": 5007,
      "message_format": "User controlled data is in emails being sent from server.",
      "name": "User controlled data to email send to users",
      "sinks": [
        "EmailSend"
      ],
      "sources": [
        "LLMControlled"
      ]
    },
    {
      "code": 5008,
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)",
      "name": "SQL injection.",
      "sinks": [
        "SQL"
      ],
      "sources": [
        "LLMControlled"
      ]
    },
    {
      "code": 5009,
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)",
      "name": "XSS",
      "sinks": [
        "XSS"
      ],
      "sources": [
        "LLMControlled"
      ]
    },
    {
      "code": 5010,
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)",
      "name": "User data to filesystem operation (read/write)",
      "sinks": [
        "FileSystem_ReadWrite"
      ],
      "sources": [
        "LLMControlled"
      ]
    },
    {
      "code": 5012,
      "message_format": "User controlled string is being formatted which may leak globally accessible data",
      "name": "User controlled string formatting",
      "sinks": [
        "FormatString"
      ],
      "sources": [
        "LLMControlled"
      ]
    },
    {
      "code": 5013,
      "message_format": "User Controlled file returned to user",
      "name": "User Controlled file returned to user",
      "sinks": [
        "ReturnedToUser"
      ],
      "sources": [
        "LLMControlled"
      ],
      "transforms": [
        "FileOperation"
      ]
    },
    {
      "code": 5014,
      "message_format": "User controlled data is used to set headers on a response",
      "name": "User controlled response headers",
      "sinks": [
        "ResponseHeaderValue",
        "ResponseHeaderName"
      ],
      "sources": [
        "LLMControlled"
      ]
    },
    {
      "code": 5015,
      "message_format": "User controlled data is used to get url",
      "name": "User controlled url",
      "sinks": [
        "SSRFSink"
      ],
      "sources": [
        "LLMControlled"
      ]
    },
    {
      "name": "Possible RemoteCodeExecution:",
      "code": 6001,
      "sources": [ "FromUrlLLMControlled" ],
      "sinks": [ "RemoteCodeExecution" ],
      "message_format": "User specified data may reach a code execution sink"
    },
    {
      "name": "Possible ExecImportSink:",
      "code": 6002,
      "sources": [ "FromUrlLLMControlled" ],
      "sinks": [ "ExecImportSink" ],
      "message_format": "User specified data may reach a code execution sink"
    },
    {
      "name": "Possible ExecDeserializationSink:",
      "code": 6003,
      "sources": [ "FromUrlLLMControlled" ],
      "sinks": [ "ExecDeserializationSink" ],
      "message_format": "User specified data may reach a code execution sink"
    },
    {
      "name": "Possible FileContentDeserializationSink:",
      "code": 6004,
      "sources": [ "FromUrlLLMControlled" ],
      "sinks": [ "FileContentDeserializationSink" ],
      "message_format": "User specified data may reach a code execution sink"
    },
    {
      "name": "Possible ExecArgSink:",
      "code": 6005,
      "sources": [ "FromUrlLLMControlled" ],
      "sinks": [ "ExecArgSink" ],
      "message_format": "User specified data may reach a code execution sink"
    },
    {
      "name": "Possible ExecEnvSink:",
      "code": 6006,
      "sources": [ "FromUrlLLMControlled" ],
      "sinks": [ "ExecEnvSink" ],
      "message_format": "User specified data may reach a code execution sink"
    },
    {
      "code": 6007,
      "message_format": "User controlled data is in emails being sent from server.",
      "name": "User controlled data to email send to users",
      "sinks": [
        "EmailSend"
      ],
      "sources": [
        "FromUrlLLMControlled"
      ]
    },
    {
      "code": 6008,
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)",
      "name": "SQL injection.",
      "sinks": [
        "SQL"
      ],
      "sources": [
        "FromUrlLLMControlled"
      ]
    },
    {
      "code": 6009,
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)",
      "name": "XSS",
      "sinks": [
        "XSS"
      ],
      "sources": [
        "FromUrlLLMControlled"
      ]
    },
    {
      "code": 6010,
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)",
      "name": "User data to filesystem operation (read/write)",
      "sinks": [
        "FileSystem_ReadWrite"
      ],
      "sources": [
        "FromUrlLLMControlled"
      ]
    },
    {
      "code": 6012,
      "message_format": "User controlled string is being formatted which may leak globally accessible data",
      "name": "User controlled string formatting",
      "sinks": [
        "FormatString"
      ],
      "sources": [
        "FromUrlLLMControlled"
      ]
    },
    {
      "code": 6013,
      "message_format": "User Controlled file returned to user",
      "name": "User Controlled file returned to user",
      "sinks": [
        "ReturnedToUser"
      ],
      "sources": [
        "FromUrlLLMControlled"
      ],
      "transforms": [
        "FileOperation"
      ]
    },
    {
      "code": 6014,
      "message_format": "User controlled data is used to set headers on a response",
      "name": "User controlled response headers",
      "sinks": [
        "ResponseHeaderValue",
        "ResponseHeaderName"
      ],
      "sources": [
        "FromUrlLLMControlled"
      ]
    },
    {
      "code": 6015,
      "message_format": "User controlled data is used to get url",
      "name": "User controlled url",
      "sinks": [
        "SSRFSink"
      ],
      "sources": [
        "FromUrlLLMControlled"
      ]
    }
  ],
  "transforms": [
    {
      "name": "FileOperation",
      "comment": "Contents of a file are read"
    }
  ],
  "options": {
    "maximum_overrides_to_analyze": 999
  }
}